.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15rem;
  margin-top: -11rem;
}

.advantages__item {
  width: 34.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 2rem 5.4rem;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 1rem 1rem 4rem 2rem rgba(0, 0, 0, 0.1);
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.15;
  font-family: 'Tinos', sans-serif;
}

.advantages__icon {
  width: 8.7rem;
  height: 8.7rem;
}

.advantages__header {
  margin-bottom: 2rem;
  color: #2c2c2c;
}

.advantages__text {
  color: #656363;
}
